.header {
    background-color: #AA0601;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.58%;
    padding-right: 4.58%;
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li {
        margin-left: 64px;
        font-family: 蘋方-繁;
        font-size: 20px;
        line-height: 30px;
    }
    a {
        color: #ffffff;
    }
}

.footer {
    background-color: #AA0601;
    display: flex;
    flex-direction: column;
    .nav {
        width: 82.15%;
        margin: 0 auto;
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            padding-left: 25px;
            padding-right: 25px;
        }
        li {
            margin-right: 48px;
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
        }
        .mediaIcons img{
            margin-left: 32px;
        }
    }
    .phone, .mail {
        width: 82.15%;
        margin: 0 auto;
        display: flex;
        img {
            margin-left: 25px;
        }
        h3 {
            color: #ffffff;
            font-size: 36px;
            line-height: 54px;
            display: inline-block;
        }
    }
    .phone img {
        margin-right: 23px;
        margin-bottom: 22px;
    }
    .mail img {
        margin-right: 12px;

    }
    .copyRight {
        width: 80.15%;
        margin: 0 auto;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ffffff;
        padding: 24px 0;
        p {
            color: #ffffff;
            font-size: 16px;
            line-height: 48.5px;
            font-weight: 400;
        }
    }
}
